extends home

block content

	// top navbar

	nav
		div.navbar.navbar-default(roll="navigation")
			div.navbar-header
				button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-ex1-collapse")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="/") Fantasy Bachelor
			ul.nav.navbar-nav.navbar-right#logs

	// small nav dropdown
	
	nav.collapse.navbar-collapse.navbar-ex1-collapse.col-md-8.col-sm-7
		ul.nav.nav-sidebar#side
			li: a(href="/dashboard") My Dashboard
			li: a(href="/weekly-results") Weekly Results
			li#logOut: a(href="/signout"): span.glyphicon.glyphicon-log-out Logout

	section#content-main
		section#dashboard
			div Welcome #{user.username}
			div#current_picks Current Picks: 

			div.col-xs-3 Pick 1
			div.col-xs-3 Pick 2
			div.col-xs-3 Pick 3
			div.col-xs-3 Goes Home

			div.form-group.col-xs-3
				select.form-control#sel1

			div.form-group.col-xs-3
				select.form-control#sel2

			div.form-group.col-xs-3
				select.form-control#sel3

			div.form-group.col-xs-3
				select.form-control#sel4

			div Rankings
				button(type="button", class="btn btn-primary", id="submitPicksBtn") Submit

			#message
				if message
					h1.text-center.error-message #{message}