doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='fragment', content='!')
    meta(name='description', content='Fantasy Bachelor')

    title Fantasy Bachelor

    // stylesheets
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/main.css', type='text/css')

    // Third-party libraries
    script(src='/lib/jquery-1.11.3.min.js')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    script(src='/lib/bootstrap-3.3.5/dist/js/bootstrap.min.js')

    script(src="../lib/page.js")
    script(src="../lib/moment.js")
    script(src="../lib/moment-duration-format.js")

    // My Javascript
    script(src='../js/results.js')
    script(src='../js/spa.js')
    script(src='../js/spa.shell.js')

    // Feature modules
    script(src='../js/spa.dashboard.js')
    script(src='../js/spa.register.js')
    script(src='../js/spa.weekly_results.js')

    // Start app
    script(type='text/javascript').
      $(function() {
        spa.initModule($('#spa'));
      });

  body
    main(id='spa')